@model BLL.Models.DoctorViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/Layout/MainLayout.cshtml";

}

@inject BLL.Interface.IAppointmentRep app
<!-- Content Wrapper. Contains page content -->

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Doctor Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                 src="~/Files/Photos/@Model.Photo"
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">@Model.Name</h3>

                            <p class="text-muted text-center">@Model.DepartmentName</p>

                          

                            <a href="#" class="btn btn-danger btn-block"><b>Delete Account</b></a>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong>SSN</strong>

                            <p class="text-muted">
                                @Model.SSN
                            </p>

                            <hr>

                            <strong>Address</strong>

                            <p class="text-muted">@Model.Address</p>

                            <hr>

                            <strong> Birth Date</strong>

                            <p class="text-muted">
                                @Model.BirthDate
                            </p>

                            <hr>

                            <strong> Gender</strong>

                            <p class="text-muted">@Model.Gender</p>

                        <hr>

                        <strong> Department</strong>

                        <p class="text-muted">@Model.DepartmentName</p>

                        <hr>

                        <strong> Salary</strong>

                        <p class="text-muted">@Model.Salary</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#AllAppointments" data-toggle="tab">
                                    All Appointments
                                </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#AppointmentsDateRange" data-toggle="tab">Appointments Date Range</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="AllAppointments">
                                <!--Content-->
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">All Appointments</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="numbers">#</th>
                                                    <th>Patient Name</th>
                                                    <th>Date And Time</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @{
                                                    int number = 0;
                                                }
                                                @foreach (var item in app.GetAllDoctorAppointments(Model.Id))
                                                {
                                                    <tr>
                                                        <th scope="row" class="numbers">
                                                            <p>@(number += 1)</p>
                                                        </th>
                                                        <td>
                                                            <p class="">@item.PatientName</p>
                                                        </td>
                                                        <td>
                                                            <p class="">@item.DateAndTime</p>
                                                        </td>
                                                        @*<th scope="col" class="w">
                                                    <p>20/10/22</p>
                                                    </th>*@
                                                        <td>
                                                            <a class="btn btn-info" title="Edit" asp-action="Edit" asp-controller="Appointment" asp-route-id="@item.PatientId">
                                                                Accept
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }



                                            </tbody>
                                            @*  <tfoot>
                                            <tr>

                                            </tr>
                                            </tfoot>*@
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                            </div>

                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="AppointmentsDateRange">
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Date Range</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <div class="form-horizontal" >
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">Start Date</label>
                                                <div class="col-sm-10">
                                                    <input type="date" asp-for="AppointmentSartDate" class="form-control AppointmentDateRange" id="startDate" placeholder="Enter Start Date">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label">End Date</label>
                                                <div class="col-sm-10">
                                                    <input type="date" asp-for="AppointmentEndDate" class="form-control AppointmentDateRange" id="endDate" placeholder="Enter End Date">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="doctorId"  asp-for="Id" />
                                        <div class="card-footer" style="text-align:center">
                                        <button class="btn btn-info" id="filter">Filter</button>
                                        </div>
                                        <!-- /.card-body -->
                                        @*<div class="card-footer" style="text-align:center">

                                            <button onclick="history.back()" class="btn btn-secondary">
                                                <i class="fas fa-angle-double-left"></i> Back
                                            </button>
                                            <button type="submit" class="btn btn-info">Create</button>
                                        </div>*@
                                        <!-- /.card-footer -->
                                    </div>
                                </div>

                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">All Appointments In Date Range</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
       
                                                    <th>Patient Name</th>
                                                    <th>Date And Time</th>
                                        
                                                </tr>
                                            </thead>
                                            <tbody id="table_data">

                                               

                                            </tbody>
                                            @*  <tfoot>
                                            <tr>

                                            </tr>
                                            </tfoot>*@
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>


                            </div>



                            <!-- /.tab-pane -->

                           
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
<!-- /.col -->

<!-- /.col -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>

<script>
    $("#filter").click(function () {
        var DoctorId = $("#doctorId").val();
        var StartDate = $("#startDate").val();
        var EndDate = $("#endDate").val();
        // StartDate != null && EndDate != null && DoctorId != 0
        if (true) {
            $.ajax({

                type: "POST",
                url: "/Doctor/GetDoctorAppointmentsDateRange",
                data: {
                    DoctorId: DoctorId,
                    StartDate: StartDate,
                    EndDate: EndDate
                },

                success: function (res) {
                    var html = '';
                    $.each(res, function (i, e) {
                        html += '<tr>';
                        html += '<td>' + e.patientName + '</td>';
                        html += '<td>' + e.dateAndTime + '</td></tr>';
                        
                    });
                    $('#table_data').html(html);
                }

            });
        }


    });

</script>

